<!DOCTYPE html>
<html>

<script type="text/javascript">
      function newUser() {
           if (users.getUser('username': username) !== false) {
                 users.insert('username': username, 'password': password);
           }
      }
</script>
<body>
      <h1 align = "center"> Create Account </h1>
      <form method = "POST" action="/methodname" align = "center">
           Username: <input type="text" name="username" value = "<?PHP print $username ; ?>">
           <br><br>
           Password: <input type="text" name="password">
           <br><br>
           <button type = "submit" class="btn btn-lg btn-primary">Submit</button>
      </form>
</body>
</html>
