<!DOCTYPE html>
<html>

<script type="text/javascript">
      function newUser() {
           if (users.getUser('username': username) !== false) {
                 users.insert('username': username, 'password': password);
           }
      }
</script>
<body>
      <h1 align = "center"> Create Account </h1>
      <form method = "post" action="createaccountaction.php" align = "center">
           Username: <input type="text" name="username">
           <br><br>
           Password: <input type="text" name="password">
           <br><br>
           <button submit = "newUser()">Submit</button>
      </form>
</body>
</html>
