<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "color:purple ; font-size: 300%; font-family: Trebuchet MS">
<a href="/hello">Survi</a>
</h1>
</center>

<head>
<style>

body {
    background-color: #CEF3FF;
}

ul #mainmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul #sidemenu {
    height: 100%;
    min-height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: middle;
    font-family: Trebuchet MS;
}

a {
    display: block;
    width: 150px;
    color: purple;
}

#sidemenu {
    float: center;
}

</style>
</head>

<ul align = "center">
    <div id = "mainmenu">
        <li id = "mainmenu"><a href="#search">Search</a></li>
        <li id = "mainmenu"><a href="#newsurveys">New Surveys</a></li>
        <li id = "mainmenu"><a href="#endingsurveys">Ending Surveys</a></li>
        <li id = "mainmenu"><a href="#monthlylottery">Monthly Lottery</a></li>
    </div>
</ul>

<ul align="right">
    <div id = "sidemenu">
        <li id = "sidemenu"><a href="#create">Create</a></li>
        <li id = "sidemenu"><a href="#edit">Edit</a></li>
        <li id = "sidemenu"><a href="#history">History</a></li>
        <li id = "sidemenu"><a href="#surveystats">Survey Stats</a></li>
        <li id = "sidemenu"><a href="#accountsettings">Account Settings</a></li>
    </div>
</ul>

<center>
<h2 style = "font-family: Trebuchet MS"> Creators: </h2>
<p style = "font-family: Trebuchet MS"> Stephanie Foo, HanSoo Lee, Jiwon Lee </p>
</center>

</body>
</html>
